$black: #140f0c;
$firstBlue: #292d4f;
$secondBlue: #615fa3;
$text: #ffdff4;

body {
  font-family: "Lato", sans-serif;
  background: $black;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 5px 5px black;
  border: 5px inset $firstBlue;
}

#dice {
  font-size: 12rem;
  color: $secondBlue;
}
.heading {
  font-size: 5rem;
}

.n-jeu {
  background: $secondBlue;
  border-radius: 20px;
  color: $text;
  box-shadow: 10px 5px 5px black;
  border: 5px inset $firstBlue;
}
.game-on,
.rollDice,
.hold,
.restart,
.cancel {
  margin: 20px;
  background: $secondBlue;
  color: $text;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 10px 5px 5px black;
  border: 5px inset $firstBlue;
}
.rollDice:hover,
.hold:hover,
.game-on:hover,
.restart:hover,
.cancel:hover {
  background-color: $firstBlue;
}
.level-item {
  color: $secondBlue;
  border-radius: 15px;
}
.footer {
  padding: 10px;
  border-radius: 20px;
  background-color: $secondBlue;
  color: $text;
  box-shadow: 10px 5px 5px black;
  border: 5px inset $firstBlue;
}
#message,
#looser,
#winner {
  font-size: 2rem;
}
#message {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.modal-content {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  color: $text;
  border: 5px inset $firstBlue;
  justify-content: center;
  border-radius: 20px;
  background-color: $secondBlue;
}
#win {
  height: auto;
}
.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 0.5s;

  border-radius: 20px;
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: $text;
}

.side {
  position: absolute;
  background-color: $secondBlue;
  border-radius: 20px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 2em;
  border: 5px inset $firstBlue;
}

.side:nth-child(1) {
  transform: translateZ(3.1em);
}

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(3.1em);
}

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.1em);
}

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(3.1em);
}

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(3.1em);
}

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(3.1em);
}

.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
  top: 20%;
  left: 20%;
}

.four-3,
.five-3,
.six-4 {
  top: 20%;
  left: 80%;
}

.one-1,
.three-2,
.five-5 {
  top: 50%;
  left: 50%;
}

.four-2,
.five-2,
.six-3 {
  top: 80%;
  left: 20%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
  top: 80%;
  left: 80%;
}

.six-2 {
  top: 50%;
  left: 20%;
}

.six-5 {
  top: 50%;
  left: 80%;
}
.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg);
}

.show-6 {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}

.show-3 {
  transform: rotateY(810deg) rotateZ(720deg);
}

.show-4 {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}

.show-5 {
  transform: rotateX(450deg) rotateZ(-720deg);
}

.show-2 {
  transform: rotateX(-900deg) rotateZ(1080deg);
}
.container {
  position: relative;
  display: inline-block;
}
